# dependencies
node_modules
package-lock.json
data

# build & coverage output
dist
build
coverage

# generated type declarations
# allow our liba.shared-types to be formatted
# *.d.ts

# other files
*.md